<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>792265434750-89nbov7gm72k3iuon2carku6pj2u9629.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792265434750-89nbov7gm72k3iuon2carku6pj2u9629</string>
	<key>API_KEY</key>
	<string>AIzaSyB6RT6lH1QDUvB8ps0YnDvPtt6CUJd6hpE</string>
	<key>GCM_SENDER_ID</key>
	<string>792265434750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test</string>
	<key>PROJECT_ID</key>
	<string>test-91780</string>
	<key>STORAGE_BUCKET</key>
	<string>test-91780.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792265434750:ios:a26b9683eeeb30296c9a2f</string>
</dict>
</plist>